*{
    font-family: sans-serif,system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 100%;
    color: rgb(0,0,0);
}

.nav {
    background-color: #FEDA5B;
}

.about-title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: system-ui,sans-serif,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

a.homepage-btns{
    border: .1px solid black;
    box-shadow: 0px 6px 4px -6px rgb(123, 123, 123);
    background-color: #e9cfcc;
    color: black;
 }

 a.homepage-btns:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: black;
    background-color: #ecdcda;
    border-color: black;
}

/* Background image */
img.background {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
     
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
     
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
 
  @media screen and (max-width: 1024px) {
    img.background {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }

  #homepage-intro { 
    /* Places homepage text on background image */
    position: relative;
}

.homepage-div-btns {
    margin-top: 70px;
    margin-bottom: 20px;
    position: relative;
}

.homepage-font {
    font-family: system-ui,sans-serif,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-style: italic;
    margin-top: 230px;
    font-weight: 600;
}

@media(min-width:769px) and (max-width:1024px) and (orientation:portrait) {
    .homepage-font{
        margin-top: 308px;
    }
}

@media(min-width:769px) and (max-width:1024px) and (orientation:landscape) {
    .homepage-font{
        margin-top: 207px;
    }
    .homepage-div-btns {
        margin-top: 66px;
        margin-bottom: 20px;
        position: relative;
    }
}

@media(min-width:481px) and (max-width:768px) and (orientation:portrait){
    img.background {
        content:url("/static/images/Modified-Background-Image.jpg");
    }
    .homepage-font{
        margin-top: 190px;
    }
    .homepage-div-btns {
        margin-top: 48px;
        margin-bottom: 32px;
        position: relative;
    }
}

@media(min-width:481px) and (max-width:768px) and (orientation:landscape){
    img.background {
        content:url("/static/images/Modified-Background-Image.jpg");
    }
    .homepage-font{
        margin-top: 121px;
    }
    .homepage-div-btns {
        margin-top: 48px;
        margin-bottom: 32px;
        position: relative;
    }
}

@media(min-width:280px) and (max-width: 480px) and (orientation:portrait) {
    img.background {
        content:url("/static/images/Modified-Background-Image.jpg");
    }
    .homepage-font{
        margin-top: 144px;
    }
    .homepage-div-btns {
        margin-top: 48px;
        margin-bottom: 32px;
        position: relative;
    }
}

@media(min-width:280px) and (max-width: 480px) and (orientation:landscape) {
    img.background {
        content:url("/static/images/Modified-Background-Image.jpg");
    }
    .homepage-font{
        margin-top: 144px;
    }
    .homepage-div-btns {
        margin-top: 48px;
        margin-bottom: 32px;
        position: relative;
    }
}

button.trash-btn{
    border: .1px solid #dc5021;
    background-color: #dc5021;
 }

 button.note-delete-btn{
    border: .1px solid #dc5021;
    background-color: #dc5021;
}

i {
    color: white;
}

.form {
    margin-bottom: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.label-font{
    font-size: 17px;
    font-weight: 500;
    color : rgb(0,0,0)
 }

h6 {
    margin-bottom: 20px;
}

input.num_of_recipes {
    width: 122px;
}

.recipe-name {
    font-size: 24px;
    margin-top: 8px;
    color: black;
}

.recipe-img{
    border-radius: 5px;
 }

.recipe-info {
    margin-bottom: 10px;
}

.recipe-list-title {
    margin-left: 11%;
    margin-bottom: 30px;
}

.div-img-recipe{
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.img-recipe-info{
    border-radius: 6px;
 }

 .star {
    position: absolute;
    top: 0%;
    right: 0%;
}

 .delete-img {
    margin-top: 10px;
    height: 20rem;
 }

.delete-recipe{
    margin-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.delete-profile-btn {
    margin-left: 12rem;
}

@media(max-width:600px){
    .delete-profile-btn {
        margin-left: 0rem;
    }
}

/*Select fields */
button.ms-choice{
    height: 35px;
    border: solid 1px #dee2e6;
}

button.ms-choice>span{
    position: static;
    color: #212529;
}

span.placeholder {
    background-color: white;
    /* Removes gray bar on multiple select field */
    min-height: 0;
}
