{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center px-3">
        <div class="card form mt-5" style="width: 43rem;">
            <div class="card-body">
                <h1 class="text-center fst-italic about-title">Recipe Finder</h1>

                <p>This website was designed to help those who are on a dietary restriction
                    due to food allergies or intolerances to easily search for recipes.</p>

                <p> However, if you do not have any dietary restrictions at all, you can
                    still use this site to search and look through our thousands of recipes.</p>

            </div>
        </div>
    </div>
</div>

{% endblock %}