{% extends 'base.html' %}

{% block content %}

<form method="POST">
    <h1 class="recipe-list-title fw-semibold fst-italic">Random Recipes:</h1>

    <div class="container">
        <div class="row">

            {% for recipe in data.recipes %}
            <div class="card col-sm-6 col-lg-4 recipe-info border-light">
                <div class="card-body">
                    <div class="position-relative mb-3">

                        <a href="/recipe/{{recipe.id}}" class="text-decoration-none">
                            <div class="img-div">
                                <img src="{{recipe.image}}" class="recipe-img card-img-top" alt="Recipe Image">
                                {% if recipe.id not in recipe_ids%}
                                <form>
                                    <button formaction="/save_recipe/{{recipe.id}}" formmethod="POST"
                                        class="btn btn-sm btn-success star">
                                        <i class="fa-regular fa-star"></i>
                                    </button>
                                </form>
                                {% endif %}
                            </div>
                            <p class="recipe-name fw-normal">{{recipe.title}}</p>
                        </a>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</form>

{% endblock %}