{% extends 'base.html' %}

{% block content %}

<!-- Using JQuery and CSS to create and style checkboxes -->
<style>
    select {
        width: 20%;
    }
</style>

<script>
    $(function () {
        $('select').multipleSelect({
            multiple: true,
            multipleWidth: 150
        })
    })
</script>


<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <form action="/recipes_form" method="POST">

            <h2>Recipe Finder</h2>
            <h5>Select your allergens to find recipes excluding those ingredients.
                All of the selections below are optional. If none of the choices
                are selected, we will provide you with a list of random recipes.
            </h5>

            {{form.hidden_tag()}}


            {{form.diet.label(class_='text-success mt-3 label')}}
            <div>
                {{form.diet(style='width:550px')}}
            </div>


            {{form.intolerances.label(class_='text-success mt-3')}}
            <div>
                {{form.intolerances(style='width:550px')}}
            </div>


            {{form.exclude_ingredients.label(class_='text-success mt-3')}}
            {{form.exclude_ingredients(class_="form-control")}}


            {{form.food_type.label(class_='text-success mt-3')}}
            {{form.food_type(class_="form-control")}}


            {{form.meal_type.label(class_='text-success mt-3 label')}}
            <div>
                {{form.meal_type(style='width:550px')}}
            </div>


            {{form.num_of_recipes.label(class_='text-success mt-3 label')}}
            <div>
                {{form.num_of_recipes(class_="form-control", style='width:100px')}}
            </div>

            <button class="btn-sm btn-info mt-3">Find Recipes!</button>

        </form>
    </div>
</div>
{% endblock %}