{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">

        <!-- Recipe ingredients -->
        <div class="col-lg-6 mb-2">
            <h1 class="fw-semibold">{{data.title}}</h1>

            <h3 class="mt-4">Ingredients:</h3>
            {% for ingredient in data.extendedIngredients%}
            <ul>
                <li>{{ingredient.original}}</li>
            </ul>
            {% endfor %}

            <h6 class="fw-semibold mt-4 mb-lg-4">*For meal information and instructions, head over to <a
                    href="{{data.sourceUrl}}" target="_blank">Source Link</a>
            </h6>
        </div>

        <!-- Recipe image -->
        <div class="col-lg-6">
            <img class="img-fluid img-recipe-info" src="{{data.image}}" alt="Recipe Image">
            <div class="mt-2">Ready In: {{data.readyInMinutes}} mins</div>
            <div class="mt-2">Servings: {{data.servings}}</div>

            {% if recipe_id not in users_saved_recipe_ids%}
            <form>
                <button formaction="/save_recipe/{{recipe_id}}" formmethod="POST"
                    class="btn btn-md btn-success save-recipe-btn mt-3 mb-4">
                    Save Recipe
                </button>
            </form>
            {% endif %}

            <!-- Recipes notes -->
            {% if recipe_id in users_saved_recipe_ids %}
            <div class="card recipe-info mt-4 mt-lg-5 mb-5">
                <div class="card-body">
                    <form action="/save_notes/{{recipe_id}}" method="POST">
                        {{form.hidden_tag()}}

                        {% for field in form if field.widget.input_type != 'hidden' %}
                        <div class="text-center">
                            {{field.label(class_="text-decoration-underline fst-italic mb-3 fs-5")}}
                        </div>
                        <ul>
                            {% if notes | length > 0 %}
                            {% for note in notes%}
                            <li>
                                {{note.text}}
                            </li>
                            {% endfor %}
                            {% endif %}
                        </ul>

                        {% for error in field.errors %}
                        <span class="text-danger">{{error}}</span>
                        {% endfor %}

                        {{field(class_='form-control')}}
                        {% endfor %}

                        <button class="btn btn-sm btn-success mt-2">Save Notes</button>
                        <a href="/edit_notes/{{recipe_id}}" class="btn btn-sm btn-success mt-2">Edit Notes</a>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}