{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="card form" style="width: 37rem;">
            <div class="card-body">

                <h2>Log in to your account:</h2>

                <form method="POST">

                    {{ form.hidden_tag()}}

                    {% for field in form if field.widget.input_type != 'hidden' %}
                    {{field.label(class_="label-font mt-2")}}

                    {% for error in field.errors %}
                    <span class="text-danger">- {{error}}</span>
                    {% endfor %}

                    {{field(class_='form-control mb-2')}}
                    {% endfor %}

                    <button class="btn btn-md btn-warning mt-3">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}